{% extends "base_generic.html" %}

{% block static %}
<link rel="stylesheet" href="/static/css/jumbotron-narrow.css">
<link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h3><a href="{% url 'bor-index' %}">Цитатник</a></h3>
  </div>

  <div class="row">
    <p>
      <strong>Цитаты:</strong>
      <a href="{% url 'quotes-new' %}" class="btn btn-link btn-sm" role="button">Новые <span class="badge">{{ count_quotes_new }}</span></a>
      <a href="{% url 'quotes-random' %}" class="btn btn-link btn-sm" role="button">Случайные</a>
      <a href="{% url 'quotes-by-rating' %}" class="btn btn-link btn-sm" role="button">По рейтингу</a>
      <a href="{% url 'quotes-abyss' %}" class="btn btn-link btn-sm" role="button">Бездна <span class="badge">{{ count_quotes_abyss }}</span></a>
      <a href="{% url 'quotes-abysstop' %}" class="btn btn-link btn-sm" role="button">Топ бездны</a>
      <a href="#" class="btn btn-link btn-sm" role="button">Добавить</a>
    </p>

    <p>
      <strong>Смотреть:</strong>
      <a href="{% url 'quotes-all' %}" class="btn btn-link btn-sm" role="button">Все цитаты <span class="badge">{{ count_quotes_all }}</span></a>
      <a href="{% url 'quotes-hide-bad' %}" class="btn btn-link btn-sm" role="button">Только без минусов <span class="badge">{{ count_quotes_hide_bad }}</span></a>
    </p>
  </div>

{% block inner_content %}
{% endblock %}

</div>
{% endblock %}
