{% block quote_block %}
  <div class="row">
    <div class="col-md-3 text-center">
      <a href="{% url 'quote-rulez' quote.id %}" class="btn btn-link btn-xs" role="button">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
      {{ quote.rating }}
      <a href="{% url 'quote-sux' quote.id %}" class="btn btn-link btn-xs" role="button">
        <span class="glyphicon glyphicon-minus"></span>
      </a>
    </div>
    <div class="col-md-1 text-center">
      <a href="{% url 'quote-bayan' quote.id %}" class="btn btn-link btn-xs" role="button">[:||||:]</a>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3 muted">{{ quote.date|date:"Y-m-d H:i" }}</div>
    <div class="col-md-2 text-right"><a href="{% url 'quote-detail' quote.id %}">{{ quote }}</a></div>
  </div>

  <div class="well well-sm">
    {{ quote.text|linebreaks }}
  </div>
{% endblock %}