{% block search_block %}
  <form action="{% url 'quote-search'%}" method="get">
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search"></span></span>
      <input type="text" class="form-control" name="text" placeholder="Текст или номер цитаты" aria-describedby="sizing-addon2">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Найти</button>
      </span>
    </div>
  </form>
{% endblock %}